<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>News - LOCKED</title>
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/static/news/css/Pretty-Header.css">
    <link rel="stylesheet" href="/static/news/css/styles.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md custom-header">
    <div class="container-fluid">
        <div><a class="navbar-brand" href="#">LOCKED</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbar-collapse"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-white" href="/news">All news</a></li>
                {% if is_editor %}
                <li class="nav-item"><a class="nav-link text-white" href="/edit">Add news</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                                                 data-bs-toggle="dropdown" href="#"> <img class="dropdown-image"
                                                                                          src="/static/news/img/avatar.jpg"></a>
                    <div class="dropdown-menu dropdown-menu-end">
                        {% if is_authorized %}
                            {% if is_admin %}
                             <a class="dropdown-item" href="/users">Users </a>
                            {% endif %}
                        <a class="dropdown-item" href="/logout">Logout </a>
                        {% else %}
                        <a class="dropdown-item" href="/login">Login </a>
                        <a class="dropdown-item" href="/registration">Registration </a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-3">
    <div class="row flex-lg-row flex-column justify-content-center">
        <div class="col col-lg-8 m-2">
            <div id="news">

            </div>

            <!-- ПАГИНАЦИЯ -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                </ul>
            </nav>
            <!-- КОНЕЦ ПАГИНАЦИИ -->
        </div>



        <div class="col col-lg-3 m-2">
            <div class="row">
                <div class="col params">
                    <div class="row">
                        <div class="col">
                            <p class="title">Filters</p>
                            <ul class="list-group">
                                <li class="list-group-item about"><span><input class="form-control" data-date-format="dd/mm/yyyy" id="datepicker" style="width: 100%;"></span></li>
                                <li class="list-group-item about"><span><input class="form-control" id="search" placeholder="Search" style="width: 100%;" autocomplete="off"></span></li>
                                <li class="list-group-item sort about-active" id="views"><span>Sort by views</span></li>
                                <li class="list-group-item sort about-passive" id="date"><span>Sort by time</span></li>
                                <li class="list-group-item sort about-passive" id="likes"><span>Sort by likes</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col params">
                    <div class="row">
                        <div class="col">
                            <p class="title">Tags</p>
                            <ul class="list-group">
                                {% for tag in tags %}
                                <li class="list-group-item tags about-passive" id="{{ tag._id }}"><span>{{ tag.name }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript">
let current_page = 1;
let count_posts_on_page = 3;
let posts = [];
let count_all_posts = 0;
let sort = 'views';
let tags = [];

show_news();

$(document).ready(() => {
    show_pagination();
    $('#datepicker').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
    });
    $('#datepicker').datepicker("setDate", new Date());

    $('#datepicker').change(function () {
       show_news();
    });
    $('#search').change(function () {
       show_news();
    });

    // Скрипт обработки нажатий на сортировку
    $('.sort').click(function () {
        if ($(this).hasClass('about-passive')) {
            $(this).removeClass('about-passive');
            $(this).addClass('about-active');
            sort = $(this).attr('id');
        }
        let this_elem = $(this);
        $('.sort').each(function (i, elem) {
            if (!$(this).is(this_elem) && $(this).hasClass('about-active')) {
                $(this).addClass('about-passive');
                $(this).removeClass('about-active');
            }
        });
        show_news();
    });

    // Скрипт обработки нажатий на теги
    $('.tags').click(function () {
        if ($(this).hasClass('about-passive')) {
            $(this).removeClass('about-passive');
            $(this).addClass('about-active');
            tags.push($(this).attr('id'));
        }
        else {
            $(this).removeClass('about-active');
            $(this).addClass('about-passive');
            let this_tag = $(this).attr('id');
            tags.splice(tags.indexOf(this_tag), 1);
        }
        show_news();
    });

    // Обработка пагинации
    $('.pagination').on('click', '.page-item', function () {
        let elem = $(this);
        current_page = Number(elem.text());
        if (!elem.hasClass('active')) {
            $('.page-item').each(function (i, elem) {
                $(this).removeClass('active');
            });
            if (elem.attr('id') === 'pagin_left') {
                current_page = 1;
                $('#pagin_left').addClass('active');
                $('#pagin_first').addClass('active');
                set_text_pagin(1, 2, 3);
            }
            else if (elem.attr('id') === 'pagin_right') {
                $('#pagin_right').addClass('active');
                current_page = Math.ceil(count_all_posts / count_posts_on_page);
                if (current_page === 2)
                    $('#pagin_second').addClass('active');
                else
                    $('#pagin_third').addClass('active');
                if (Math.ceil(count_all_posts / count_posts_on_page) > 3)
                    set_text_pagin(current_page - 2, current_page - 1, current_page);
            }
            else
            if (current_page === 1) {
                $('#pagin_left').addClass('active');
                $('#pagin_first').addClass('active');
            }
            else {
                if (current_page === Math.ceil(count_all_posts / count_posts_on_page)) {
                    $('#pagin_right').addClass('active');
                    if (current_page === 2)
                        $('#pagin_second').addClass('active');
                    else
                        $('#pagin_third').addClass('active');
                } else {
                    $('#pagin_second').addClass('active');
                    set_text_pagin(current_page - 1, current_page, current_page + 1);
                }
            }
            show_news(false);

        }
    });

});
function set_text_pagin(first, second, third) {
    $('#pagin_first a').text(String(first));
    $('#pagin_second a').text(String(second));
    $('#pagin_third a').text(String(third));
}

function show_pagination() {
    let pagin = $('.pagination');
    pagin.empty();
    pagin.append('<li class="page-item active" id="pagin_left"><a class="page-link" tabindex="-1">First</a></li>');
    pagin.append('<li class="page-item active" id="pagin_first"><a class="page-link">1</a></li>');
    if (Math.ceil(count_all_posts / count_posts_on_page) >= 2)
        pagin.append('<li class="page-item" id="pagin_second"><a class="page-link">2</a></li>');
    if (Math.ceil(count_all_posts / count_posts_on_page) >= 3)
        pagin.append('<li class="page-item" id="pagin_third"><a class="page-link">3</a></li>');
    pagin.append('<li class="page-item" id="pagin_right"><a class="page-link">Last</a></li>');
    if (Math.ceil(count_all_posts / count_posts_on_page) === 1 || Math.ceil(count_all_posts / count_posts_on_page) === 0)
        $('#pagin_right').addClass('active');
}

function show_news(pagin=true) {
    let formData = new FormData();
    formData.append('limit', count_posts_on_page);
    formData.append('sort', sort);
    formData.append('tags', tags);
    formData.append('page', current_page);
    formData.append('date', $('#datepicker').val());
    formData.append('search', $('#search').val());
    $.ajax({
        type: "POST",
        url: "{{ url_for('news_registry_route') }}",
        data: formData,
        //contentType: 'application/json;charset=UTF-8',
        processData: false,
        contentType: false,
        dataType: "json",
        success: function (request) {
            posts = request.posts;
            count_all_posts = request.count
            let elem = $('#news');
            elem.empty();
            for (let i = 0; i < posts.length; i++) {
                elem.append(`<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary">` + posts[i].tags.join('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;') + `</strong>
                                <h3 class="mb-0">` + posts[i].title + `</h3>
                                <div class="mb-1 text-muted">` + posts[i].date + `</div>
                                <p class="card-text mb-auto">` + posts[i].text + `</p>
                                <a href="/news/`+ posts[i]._id +`" class="stretched-link">Продолжить чтение</a>
                            </div>
                        </div>`)
            }
            if (pagin)
                show_pagination();
        },
        error: function (request) {
            console.log(request);
            alert('Все сломалось!');
        }
    });

}
</script>
</html>