<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap CSS (jsDelivr CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!-- Bootstrap Bundle JS (jsDelivr CDN) -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <link id="theme" rel="stylesheet" type="text/css" href="/static/login/auth.css">
    <link rel="stylesheet" href="/static/news/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/static/news/css/Pretty-Header.css">
</head>
<body>
<nav class="navbar navbar-light navbar-expand-md custom-header">
   <div class="container-fluid">
        <div><a class="navbar-brand" href="#">LOCKED</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbar-collapse"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-white" href="/news">All news</a></li>
                {% if is_editor %}
                <li class="nav-item"><a class="nav-link text-white" href="/edit">Add news</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                                                 data-bs-toggle="dropdown" href="#"> <img class="dropdown-image"
                                                                                          src="/static/news/img/avatar.jpg"></a>
                    <div class="dropdown-menu dropdown-menu-end">
                        {% if is_authorized %}
                            {% if is_admin %}
                             <a class="dropdown-item" href="/users">Users </a>
                            {% endif %}
                        <a class="dropdown-item" href="/logout">Logout </a>
                        {% else %}
                        <a class="dropdown-item" href="/login">Login </a>
                        <a class="dropdown-item" href="/registration">Registration </a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <div class="row justify-content-center px-3 mb-3"></div>
                        <a href="/"><h3 class="mb-5 text-center heading">LOCKED</h3></a>
                        <form id="form" enctype="multipart/form-data">
                            <div class="form-group"> <label class="form-control-label text-muted">Username</label> <input minlength="3" type="text" id="login" name="email" placeholder="Login" class="form-control" autocomplete="off" required> </div>
                            <div class="form-group"> <label class="form-control-label text-muted">Password</label> <input minlength="8" type="password" id="password" name="psw" placeholder="Password" class="form-control" autocomplete="off" required> </div>
                        <div class="row justify-content-center my-3 px-3"> <button id="go_login" type="submit" class="btn-block btn-color">Login</button> </div>
                        </form>
                        <div class="row justify-content-center my-2"> <small class="text-muted" id="error_msg"></small> </div>
                    </div>
                </div>
                <div class="bottom text-center mb-5">
                    <p href="#" class="sm-text mx-auto mb-3">Don't have an account? <a href="/registration"><button class="btn btn-white ml-2">Create new</button></a></p>
                </div>
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h3 class="text-white">We are more than just a company</h3> <small class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
$(document).ready(() => {
    $("#form").submit((event) => {
        event.preventDefault();

        let formData = new FormData();
        formData.append('login', $("#login").val());
        formData.append('password', $("#password").val());

        $.ajax({
            type: "POST",
            url: "{{ url_for('do_login_route') }}",
            data: formData,
            // contentType: 'application/json;charset=UTF-8',
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (request) {
                if (request['success']) {
                    window.location.replace("/news");
                }
                else {
                    $("#error_msg").text(request['messages']);
                }
            },
            error: function (request) {
                $("#error_msg").text("Server error!")
            }
        })

    })
});




</script>
</html>