<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>News - LOCKED</title>
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/static/news/css/Pretty-Header.css">
    <link rel="stylesheet" href="/static/news/css/styles.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md custom-header">
    <div class="container-fluid">
        <div><a class="navbar-brand" href="#">LOCKED</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbar-collapse"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-white" href="/news">All news</a></li>
                {% if is_editor %}
                <li class="nav-item"><a class="nav-link text-white" href="/edit">Add news</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                                                 data-bs-toggle="dropdown" href="#"> <img class="dropdown-image"
                                                                                          src="/static/news/img/avatar.jpg"></a>
                    <div class="dropdown-menu dropdown-menu-end">
                        {% if is_authorized %}
                        <a class="dropdown-item" href="/logout">Logout </a>
                        {% else %}
                        <a class="dropdown-item" href="/login">Login </a>
                        <a class="dropdown-item" href="/registration">Registration </a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-3">
    <div class="row flex-lg-row flex-column justify-content-center">
        <div class="col col-lg-8 m-2">
            <form>
                <div class="form-group">
                    <h4 class="mb-2">Photo news</h4>
                    <input type="file" class="custom-file-input" id="news_logo" accept=".jpg, .jpeg, .png">
                    <div class="mb-4 not-need-file" id="error_file">The picture is loaded, but you can replace it</div>

                    <h4 class="mb-2">News Title</h4>
                    <input class="form-control" type="text" placeholder="My news title" id="news_title" required autocomplete="off">
                    <div class="mb-4"></div>

                    <h4 class="mb-2">News Text</h4>
                    <textarea class="mb-4 form-control" rows="15" id="news_text" required autocomplete="off"></textarea>
                    <button type="submit" class="btn btn-primary submit mb-6 after_text">Submit</button>
                    <h6 class="error after_text m-3"></h6>
                </div>
            </form>
        </div>



        <div class="col col-lg-3 m-2">

            <div class="row">
                <div class="col params">
                    <div class="row">
                        <div class="col">
                            <p class="title">News tags</p>
                            <ul class="list-group list_tags">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript">
let news = {{ news|tojson|safe }};
let count_tags = 5;
let all_tags = {{ all_tags|tojson|safe }};
let tags = [];

if (!news) {
    $('#news_logo').attr('required', '');
    $('#error_file').text('');
    for (let i = 1; i <= count_tags; i++) {
        let tag = '';
        $('.list_tags').append('<li class="list-group-item about tag"><span><input type="text" class="form-control-plaintext tag" value="' + tag + '"></span></li>');
    }
}
else {
    $('#news_title').val(news.title);
    $('#news_text').val(news.text);
    for (let i = 1; i <= count_tags; i++) {
        let tag = news.tags[i - 1];
        if (tag === undefined) {
            tag = '';
        }
        $('.list_tags').append('<li class="list-group-item about tag"><span><input type="text" class="form-control-plaintext tag" value="' + tag + '"></span></li>');
    }
}


$(document).ready(() => {
    $( ".tag" ).autocomplete({
      source: all_tags
    });

    $("form").submit((event) => {
        event.preventDefault();
        tags = [];
        $('.tag').each(function (i, elem) {
            if ($(this).val())
                tags.push($(this).val());
        });
        if (tags.length) {
            $('.error').text('');
            // id, photo, title, text, session, tags
            let filename = '';
            let photo_data = new FormData();
            photo_data.append('file', document.getElementById('news_logo').files[0]);
            $.ajax({
                type: "POST",
                url: "{{ url_for('save_file_route') }}",
                data: photo_data,
                //contentType: 'application/json;charset=UTF-8',
                processData: false,
                contentType: false,
                dataType: "json",
                success: function (request) {
                    if (request['success']) {
                        filename = request['filename'];

                        let formData = new FormData();
                        if (!news)
                            formData.append('id', JSON.stringify(null));
                        else
                            formData.append('id', news._id);
                        formData.append('title', $('#news_title').val());
                        formData.append('text', $('#news_text').val());
                        formData.append('tags', tags);
                        formData.append('photo', filename)
                        $.ajax({
                            type: "POST",
                            url: "{{ url_for('save_news_route') }}",
                            data: formData,
                            //contentType: 'application/json;charset=UTF-8',
                            processData: false,
                            contentType: false,
                            dataType: "json",
                            success: function (request) {
                                if (request['success']) {
                                    window.location.href = "/news/" + request["id"];
                                }
                                else {
                                     $('.error').text(request['messages']);
                                }
                            },
                            error: function (request) {
                                console.log(request);
                                alert('Все сломалось!');
                            }
                        });
                    }
                    else {
                         $('.error').text(request['messages']);
                    }
                },
                error: function (request) {
                    console.log(request);
                    alert('Все сломалось!');
                }
            });




        }
        else {
            $('.error').text('Please enter at least one tag!');
        }
    });

});
</script>
</html>