<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>News - LOCKED</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/static/news/css/Pretty-Header.css">
    <link rel="stylesheet" href="/static/news/css/styles.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md custom-header">
    <div class="container-fluid">
        <div><a class="navbar-brand" href="#">LOCKED</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbar-collapse"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-white" href="#">Overview </a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Surveys </a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#"> Reports</a></li>
                <li class="nav-item"></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                                                 data-bs-toggle="dropdown" href="#"> <img class="dropdown-image"
                                                                                          src="/static/news/img/avatar.jpg"></a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Settings </a>
                        <a class="dropdown-item" href="#">Payments </a>
                        <a class="dropdown-item" href="#">Logout </a></div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-3">
    <div class="row flex-lg-row flex-column justify-content-center">
        <div class="col col-lg-8 m-2">
            <!-- Start Service Content Section -->
            <div class="service-content-section">
                <div class="content-hero-image">
                    <img class="content-hero-image" src="/static/main/img/intro-bg.jpg" alt="">
                </div>
                <!-- Start Section Content -->
                <div class="default-content-style pos-relative">
                    <h2 class="news_title">UI design can make easy your complex product.</h2>
                    <p class="news_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown print
                        took a galley of type and scrambled it to make a type specimen book. It has survived not
                        only five centuries, but also the leap into electronic.

                    <p class="news_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown print
                        took a galley of type and scrambled electronic.

                    <p class="news_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown print
                        took a galley of type and scrambled electronic.</p>

                    <h3 class="news_sub-title">Why Choose Me?</h3>
                    <p class="news_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown print
                        took a galley of type and scrambled electronic.</p>


                    <p class="news_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, when an unknown print
                        took a galley of type and scrambled it to make a type specimen book. It has survived not
                        only five centuries, but also the leap into electronic.</p>

                </div>
                <!-- End Section Content -->
            </div>
            <!-- End Service Content Section -->

            <div class="row justify-content-center">
                <div class="col">
                    <div class="container bg-white border rounded border-white shadow-sm main">
                        <form id="form" enctype="multipart/form-data">
                            <div class="row mb-2">
                                <div class="col d-flex flex-row-reverse">
                                    <button class="btn btn-outline-primary" type="submit">Send</button>
                                </div>
                            </div>
                            <div class="row justify-content-center mb-2">
                                <div class="col-md-2 offset-md-0 col-2"><img src="/static/logo.png"></div>
                                <div class="col-md-10 col-10"><textarea id="comment" class="form-control" minlength="3" maxlength="200" autocomplete="off" required></textarea></div>
                                <div class="col mt-4">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="d-flex media">
                                                <div></div>
                                                <div class="media-body">
                                                    <div class="d-flex media" style="overflow:visible;">
                                                        <div class="col-1"><img style="width: 25px; height:25px;" src="/static/logo.png"></div>
                                                        <div style="overflow:visible;" class="col">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <p><a href="#">Brennan Prill:</a> This guy has been going 100+ MPH on side streets. ASJ SAhfkjashfa ASHFkjahsflkh<br>
                                                                        <small class="text-muted">August 6, 2016 @ 10:35am </small></p>
                                                                    <a href="#">Редактировать</a> <a href="#">Удалить</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex media">
                                                <div></div>
                                                <div class="media-body">
                                                    <div class="d-flex media" style="overflow:visible;">
                                                        <div class="col-1"><img style="width: 25px; height:25px;" src="/static/logo.png"></div>
                                                        <div style="overflow:visible;" class="col">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <p><a href="#">Brennan Prill:</a> This guy has been going 100+ MPH on side streets. ASJ SAhfkjashfa ASHFkjahsflkh<br>
                                                                        <small class="text-muted">August 6, 2016 @ 10:35am </small></p>
                                                                    <a href="#">Редактировать</a> <a href="#">Удалить</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="col col-lg-3 m-2">
            <div class="row">
                <div class="col params">
                    <div class="row">
                        <div class="col">
                            <p class="title">About</p>
                            <ul class="list-group">
                                <li class="list-group-item about"><span>Author: Alex Brody</span></li>
                                <li class="list-group-item about"><span>Views: 5552</span></li>
                                <li class="list-group-item about"><span>Likes: 224</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col params">
                    <div class="row">
                        <div class="col">
                            <p class="title">Tags</p>
                            <ul class="list-group">
                                <li class="list-group-item about"><span>Web programming</span></li>
                                <li class="list-group-item about"><span>Java Script</span></li>
                                <li class="list-group-item about"><span>Node JS</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col params">
                    <div class="row">
                        <div class="col">
                            <p class="title">Tools</p>
                            <ul class="list-group">
                                <li class="list-group-item about"><span>Like</span></li>
                                <li class="list-group-item about"><span>Edit</span></li>
                                <li class="list-group-item about"><span>Delete</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>