<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>News - LOCKED</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/static/news/css/Pretty-Header.css">
    <link rel="stylesheet" href="/static/news/css/styles.css">
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md custom-header">
   <div class="container-fluid">
        <div><a class="navbar-brand" href="#">LOCKED</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbar-collapse"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-white" href="/news">All news</a></li>
                {% if is_editor %}
                <li class="nav-item"><a class="nav-link text-white" href="/edit">Add news</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                                                 data-bs-toggle="dropdown" href="#"> <img class="dropdown-image"
                                                                                          src="/static/news/img/avatar.jpg"></a>
                    <div class="dropdown-menu dropdown-menu-end">
                        {% if is_authorized %}
                            {% if is_admin %}
                             <a class="dropdown-item" href="/users">Users </a>
                            {% endif %}
                        <a class="dropdown-item" href="/logout">Logout </a>
                        {% else %}
                        <a class="dropdown-item" href="/login">Login </a>
                        <a class="dropdown-item" href="/registration">Registration </a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-3">
    <div class="row flex-lg-row flex-column justify-content-center">
        <div class="col col-lg-8 m-2">
            <!-- Start Service Content Section -->
            <div class="service-content-section">
                <div class="content-hero-image">
                    <img class="content-hero-image" src="/static/loaded/{{ photo }}" alt="">
                </div>
                <!-- Start Section Content -->
                <div class="default-content-style pos-relative">
                    <h2 class="news_title">{{ title }}</h2>
                    <p class="news_text">{{ text }}</p>


                </div>
                <!-- End Section Content -->
            </div>
            <!-- End Service Content Section -->

            <div class="row justify-content-center">
                <div class="col">
                    <div class="container bg-white border rounded border-white shadow-sm main">
                        <form id="form" enctype="multipart/form-data">
                            <div class="row mb-2">
                                <div class="col d-flex flex-row-reverse">
                                    {% if is_authorized %}
                                        <button class="btn btn-outline-primary" type="submit">Send</button>
                                        <h6 class="error"></h6>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row justify-content-center mb-2">
                                <div class="col-md-2 offset-md-0 col-2"><img src="/static/logo.png"></div>
                                <div class="col-md-10 col-10" style="color: black">
                                    {% if is_authorized %}
                                    <textarea id="comment" class="form-control" minlength="3" maxlength="200" autocomplete="off" required></textarea>
                                    {% else %}
                                    <a href="/login">Log in</a> to leave a comment
                                    {% endif %}
                                </div>
                                <div class="col mt-4">
                                    <ul class="list-group comments">
                                        <!-- КОММЕНТАРИЙ -->


                                        <!-- КОНЕЦ КОММЕНТАРИЯ -->
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="col col-lg-3 m-2">
            <div class="row">
                <div class="col params">
                    <div class="row">
                        <div class="col">
                            <p class="title">About</p>
                            <ul class="list-group">
                                <li class="list-group-item about"><span>Author: {{ author }}</span></li>
                                <li class="list-group-item about"><span>Views: {{ views }}</span></li>
                                <li class="list-group-item about"><span>Likes: {{ likes }}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col params">
                    <div class="row">
                        <div class="col">
                            <p class="title">Tags</p>
                            <ul class="list-group">
                                {% for tag in tags %}
                                <li class="list-group-item about"><span>{{ tag }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             {% if is_authorized %}
            <div class="row">
                <div class="col params">
                    <div class="row">
                        <div class="col">
                            <p class="title">Tools</p>
                            <ul class="list-group">
                                <li class="list-group-item" id="like"><span>Like</span></li>
                                {% if is_editor %}
                                <li class="list-group-item about-passive" id="edit"><span>Edit</span></li>
                                <li class="list-group-item about-passive" id="delete"><span>Delete</span></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript">
let is_liked = {{ is_liked|tojson|safe }};
let is_editor = {{ is_editor|tojson|safe }};
let comments = {{ comments|tojson|safe }};

load_comments();
set_like();

$(document).ready(() => {
    $('#like').click(function () {
        let formData = new FormData();
        formData.append('id', "{{ _id }}");
        $.ajax({
            type: "POST",
            url: "{{ url_for('like_route') }}",
            data: formData,
            //contentType: 'application/json;charset=UTF-8',
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (request) {
                if (request['success']) {
                    is_liked = !is_liked;
                    set_like();
                }
            },
            error: function (request) {
                console.log(request);
                alert('Все сломалось!');
            }
        });

    });

    $('#edit').click(function () {
       window.location.href = "/edit/" + "{{ _id }}";
    });

    $('#delete').click(function () {
        let formData = new FormData();
        formData.append('id', "{{ _id }}");
        $.ajax({
            type: "POST",
            url: "{{ url_for('delete_route') }}",
            data: formData,
            //contentType: 'application/json;charset=UTF-8',
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (request) {
                if (request['success']) {
                    window.location.replace("/news");
                }
                else {
                    $('.error').text(request['messages']);
                }

            },
            error: function (request) {
                console.log(request);
                alert('Все сломалось!');
            }
        });
    });

    $("form").submit((event) => {
        event.preventDefault();
        let formData = new FormData();
        formData.append('id', "{{ _id }}");
        formData.append('text', $('#comment').val());
        $.ajax({
            type: "POST",
            url: "{{ url_for('send_comment_route') }}",
            data: formData,
            //contentType: 'application/json;charset=UTF-8',
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (request) {
                if (request['success']) {
                    comments = request['comments'];
                    load_comments();
                    $('#comment').val('');
                }
                else {
                    $('.error').text(request['messages']);
                }

            },
            error: function (request) {
                console.log(request);
                alert('Все сломалось!');
            }
        });
    });

    $('.comments').on('click', '.del_comment', function () {
        let formData = new FormData();
        formData.append('id', $(this).data('comment'));
        formData.append('post_id', "{{ _id }}");
        $.ajax({
            type: "POST",
            url: "{{ url_for('delete_comment_route') }}",
            data: formData,
            //contentType: 'application/json;charset=UTF-8',
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (request) {
                if (request['success']) {
                    comments = request['comments'];
                    load_comments();
                }
                else {
                    $('.error').text(request['messages']);
                }

            },
            error: function (request) {
                console.log(request);
                alert('Все сломалось!');
            }
        });
    });

    $('.comments').on('click', '.allow_comment', function () {
        let formData = new FormData();
        formData.append('id', $(this).data('comment'));
        formData.append('post_id', "{{ _id }}");
        $.ajax({
            type: "POST",
            url: "{{ url_for('allow_comment_route') }}",
            data: formData,
            //contentType: 'application/json;charset=UTF-8',
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (request) {
                if (request['success']) {
                    comments = request['comments'];
                    load_comments();
                }
                else {
                    $('.error').text(request['messages']);
                }

            },
            error: function (request) {
                console.log(request);
                alert('Все сломалось!');
            }
        });
    });

});


function set_like() {
    let elem = $('#like');
    if (is_liked) {
        elem.removeClass('about-passive');
        elem.addClass('about-active');
        elem.text('Liked');
    }
    else {
        elem.text('Like');
        elem.removeClass('about-active');
        elem.addClass('about-passive');
    }
}

function load_comments() {
    let elem = $('.comments');
    elem.empty();
    for (let i = 0; i < comments.length; i++) {
        $('.comments').append(`<li class="list-group-item" id="`+ comments[i]._id +`">
                        <div class="d-flex media">
                            <div class="media-body">
                                <div class="d-flex media" style="overflow:visible;">
                                    <div class="mr-3"><img style="width: 25px; height:25px;" src="/static/logo.png"></div>
                                    <div style="overflow:visible;" class="col">
                                        <div class="row">
                                            <div class="col">
                                                <p><a href="#">`+ comments[i].author +`:</a> `+ comments[i].text +`<br>
                                                    <small class="text-muted">`+ comments[i].date +` </small>
                                                    `+ (comments[i].is_allowed ? "" : '<br><small class="text-muted">Waiting for moderation...</small>')+`
                                                </p>
                                                    `+ (is_editor ? '<a class="del_comment" href="#" data-comment="'+ comments[i]._id +'">Delete</a>' : '') + (!comments[i].is_allowed && is_editor ? '&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="allow_comment" data-comment="'+ comments[i]._id +'">Publish</a>' : '') + `
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>`);
    }
}
</script>
</html>