<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>News - LOCKED</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/static/news/css/Pretty-Header.css">
    <link rel="stylesheet" href="/static/news/css/styles.css">
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md custom-header">
   <div class="container-fluid">
        <div><a class="navbar-brand" href="#">LOCKED</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbar-collapse"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-white" href="/news">All news</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/edit">Add news</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                                                 data-bs-toggle="dropdown" href="#"> <img class="dropdown-image"
                                                                                          src="/static/news/img/avatar.jpg"></a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="/users">Users </a>
                        <a class="dropdown-item" href="/logout">Logout </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-3">
    <div class="row flex-lg-row flex-column justify-content-center">
        <div id="alerts">

        </div>
        <table class="table table-dark">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Login</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
            </tr>
          </thead>
          <tbody id="table">

          </tbody>
        </table>
    </div>
</div>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript">
let users = {{ users|tojson|safe }};

for (let i = 0; i < users.length; i++) {
    let table = $('#table');
    table.append(`<tr>
              <th scope="row">`+ (i+1) +`</th>
              <td>`+ users[i].login +`</td>
              <td>`+ users[i].name +`</td>
              <td>`+ users[i].surname +`</td>
                <td>`+ users[i].email +`</td>
                <td><select class="custom-select mr-sm-2 role" id="`+ users[i]._id +`">
                    <option `+ (users[i].role === 'admin' ? 'selected' : '') +` value="admin">Administrator</option>
                    <option `+ (users[i].role === 'editor' ? 'selected' : '') +` value="editor">Editor</option>
                    <option `+ (users[i].role === 'user' ? 'selected' : '') +` value="user">User</option>
                  </select>
                </td>
            </tr>`)
}

$(document).ready(() => {
    $('#table').on('change', '.role', function () {
        let formData = new FormData();
        formData.append('id', $(this).attr('id'));
        formData.append('role', $(this).val());
        $.ajax({
            type: "POST",
            url: "{{ url_for('change_role_route') }}",
            data: formData,
            //contentType: 'application/json;charset=UTF-8',
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (request) {
                if (!request['success']) {
                    make_error('Not enough rights!')
                }

            },
            error: function (request) {
                console.log(request);
                alert('Все сломалось!');
            }
        });
    });
});

function make_error(str) {
    $('#alerts').append(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>ERROR!</strong> `+ str +`
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>`)
}
</script>
</html>